*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@font-face {
    font-family: "FuturaPTBold";
    src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: "FuturaPTHeavy";
    src: url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
    font-family: "FuturaPTExtraBoldOblique";
    src: url(../fonts/FuturaPTExtraBoldOblique.otf);
}

@font-face {
    font-family: "FuturaPTLightOblique";
    src: url(../fonts/FuturaPTLightOblique.otf);
}

::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
    background-color: #39225A;
}

.nav_Con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #190F27;
    min-height: 100px;
    z-index: 1000;
    filter: drop-shadow(0px 0px 20px #39225A);
}

.nav_Left{
    display: flex;
    align-items: center;

}

.nav_Logo{
    width: 80px;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.T1{
    color: white;
    font-family: "FuturaPTBold";
    font-size: 30px;
}

.nav_Right{
    display: flex;
    margin-right: 15px;
    align-items: center;
}

.nav_Links{
    display: flex;
    list-style: none;
}

.nav_Links li{
    color: white;
    padding: 7px;
    margin: 7px;

    border-radius: 8px;
    cursor: pointer;
}

.nav_Links li:hover{
    background-color: #8850bf94;
    transition: .5s ease-in-out;
}

.nav_Links li a{
    color: white;
    text-decoration: none;
    font-family: "FuturaPTHeavy";
    font-size: 24px;
}

#active{
    background-color: #8850BF;
    cursor: default;
}

.mobile_Icon{
    display: none;
}

.mobile_Icon div{
    width: 40px;
    height: 6px;
    margin: 7px;
    border-radius: 10%;
    background-color: #8850BF;
}

.main_Banner{
    z-index: -1;
}

.banner{
    /* display: none; */
    position: relative;
    z-index: -20;
}

.background_Banner{
    position: relative;
    top: 0;
    left: 0;
}

.banner_Text{
    color: white;
    font-family: 'FuturaPTLightOblique';
    font-size: 36px;
    position: absolute;
    left: 5%;
    bottom: 27%;
    width: 45%;
}

.nothx_Photo{
    position: absolute;
    top: 39px;
    left: 50%;

    width: 50%;
    height: auto;
    z-index: 2;
}

@keyframes rotation1{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes rotation2{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}

@keyframes motion1{
    0%{transform: rotate(0deg); bottom: -30px;}
    25%{bottom: 0px;}
    50%{bottom: -60px;}
    75%{bottom: 0px;}
    100%{transform: rotate(360deg); bottom: -30px;}
}

.cross_Shape{
    position: absolute;
    top: 40px;
    right: 25%;
    width: 25%;
    animation: rotation1 15s ease-in-out infinite;
}

.tri_Shape{
    position: absolute;
    top: 0px;
    left: 75%;
    z-index: 1;
    width: 25%;
    animation: rotation2 7s ease-in-out infinite;
}

.square_Shape{
    position: absolute;
    bottom: -30px;
    right: 30%;
    width: 20%;
    z-index: 3;
    animation: motion1 7s ease-in-out infinite;
}

.circle_Shape{
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 20%;
    z-index: 3;
    animation: motion1 4s ease-in-out infinite;
}

.bacground_Text{
    position: absolute;
    top: 40px;
    left: 3%;
    width: 50%;
    height: auto;
}

.hello{
    position: absolute;
    top: 70px;
    left: 5%;
    width: 45%;
    height: auto;
}

#info_Text{
    position: absolute;
    bottom: 200px;
    left: 5%;
    width: 45%;
    height: auto;
}

.info{
    color: white;
    font-family: "FuturaPTLightOblique";
    font-size: 24px;
}

.follow_Count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    background-color: #39225A;
    filter: drop-shadow(0px 0px 20px #39225A);
    z-index: -10;
}

.flex_Count{
    display: flex;
    justify-content: space-between;
}

hr{
    width: 100px;
    stroke: none;
    visibility: hidden;
}

.con_Count{
    display: flex;
    align-items: center;
    padding: 5px;
}

.hover_Con:hover{
    cursor: pointer;
    filter: drop-shadow(1px 1px 20px #9742ec );
    transition: .5s ease-in;
    padding: 5px;
}


.T2_Count{
    color: white;
    font-family: "FuturaPTExtraBoldOblique";
    font-size: 48px;
    margin: 15px;
}

.moreforme_Con{
    margin: 10px;
    padding: 10px;
}

.title_Section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

.first_Part{
    display: flex;
    margin: 5px;
    padding: 10px;
    align-items: center;
}

.info_Koce{
    color: white;
    font-size: 30px;
    font-family: 'FuturaPTLightOblique';
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(145deg, #74026183, #74026100);
    border-radius: 20px;
}

.info_KoceRight{
    color: white;
    font-size: 30px;
    font-family: 'FuturaPTLightOblique';
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(190deg, #74026183, #74026100);
    border-radius: 20px;
    text-align: right;
}

.merch_ConMain{
    background-color: #39225A;
    text-align: center;
    padding: 25px;
}

.example_Merch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seeMore_Btn{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'FuturaPTBold';
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient( #740261, #74026100);
    border-radius: 10px;
}

.seeMore_Btn:hover{
    background-image: linear-gradient(#F2A517, #f2a51700);
    transition: .5s ease;
}

.main_Abs{
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.sponsor_Con{
    background-color: #39225A;
    padding: 30px;
}

.icon_Sponsor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.image_Sponsor1{
    width: 340px;
    height: 267px;
    margin: 20px;
    padding: 10px;
}

.image_Sponsor1:hover{
    filter: drop-shadow(0px 0px 20px #F2A517);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.image_Sponsor2:hover {
    filter: drop-shadow(0px 0px 20px #F2A517);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.image_Sponsor3:hover {
    filter: drop-shadow(0px 0px 20px #F2A517);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.image_Sponsor4:hover {
    filter: drop-shadow(0px 0px 20px #F2A517);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.image_Sponsor5:hover {
    filter: drop-shadow(0px 0px 20px #F2A517);
    transition: .7s ease-in-out;
    cursor: pointer;
}

.image_Sponsor2{
    width: 156px;
    height: 267px;
    margin: 20px;
    padding: 10px;
}

.image_Sponsor3 {
    width: 340px;
    height: 88px;
    margin: 20px;
    padding: 10px;
}

.image_Sponsor4 {
    width: 340px;
    height: 123px;
    margin: 20px;
    padding: 10px;
}

.image_Sponsor5 {
    width: 340px;
    height: 98px;
    margin: 20px;
    padding: 10px;
}

.footer{
    background-color: #39225A;
}

.social_Links{
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center; 
    display: inline-block;
    margin: 0 auto;
}

.link_Icon{
    margin: 20px;
    padding: 30px;
    background-color: #190F27;
    border-radius: 10px;
}

.link_Icon:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 20px #a200ff);
    padding: 35px;
    transition: .5s ease-in-out;
}

.P1{
    text-align: center;
    color: rgba(224, 224, 224, 0.336);
    font-family: "FuturaPTLightOblique";
    font-size: 24px;
    margin-bottom: 10px;
}

table{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1100px){

    body{
        overflow-x: hidden;
    }

    .nav_Links{
        position: absolute;
        right: 0;
        top: 100px;
        height: 92vh;
        background-color: #190F27;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        text-align: right;
        transition: .5s ease-in;
        transform: translateX(100%);
        z-index: 1000;
    }


    .nav_Links li a{
        font-size: 38px;
    }

    .mobile_Icon{
        display: block;
        cursor: pointer;
    }

    .ul_Active{
        transform: translateX(0%);
    }

    .none{
        display: none;
    }

    .follow_Count{
        z-index: -1000;
        padding: 0;
    }

    .hover_Con{
        width: 50px;
        height: auto;
    }

    .flex_Count{
        display: inline;
    }

    .T2_Count{
        font-size: 25px;
        margin: 0;
        margin-left: 10px;
    }

    .link_Icon{
        width: 70px;
        margin: 10px;
        padding: 10px;
    }

    .P1{
        font-size: 14px;
        margin-bottom: 40px;
    }

    .first_Part{
        flex-direction: column;
    }

    .info_Koce{
        text-align: center;
        font-size: 20px;
    }

    .info_KoceRight{
        text-align: center;
        font-size: 20px;
    }

    .koceto1{
        width: 450px;
        height: auto;
    }

    .koceto2{
        width: 450px;
        height: auto;
    }

    .title_Section{
        width: 90%;
        height: auto;
    }

    .hello{
        top: 50px;
    }

    .banner_Text{
        bottom: 15%;
    }
}
